{% extends "distributors/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<h4> LRLDistributors Login </h4>

<form method="post" action="{% url 'login' %}">

    <input type="hidden" name="next" value="{{ next }}"/>

    {{ form|crispy }}

    <div class="form-group">
        <button type="submit" class="btn btn-success">Login</button>
        {% if next ==  "/accounts/login/" %}
            <a class="btn btn-danger" href="{{ next }}">Cancel</a>
        {% else %}
            <a class="btn btn-danger" href="{% url 'distributors:Principal' %}">Cancel</a>
        {% endif %}
    </div>

    {% csrf_token %}
</form>

{% endblock %}