{% extends "distributors/base.html" %}
{% block title %}Car Shop{% endblock %}
{% block content %}

<span vocab="http://schema.org/" typeof="Car shop">


<h2>Car Shop List:</h2>
<u1>
	{% for carshop in latest_carshop_list %}

		<li><a href="./{{carshop.id}}">
			{{ carshop.shopName }}</a></li>
	{% empty %}<li>Sorry, no car shop registered yet.</li>
	{% endfor %}
</u1>

    <div class="col-sm-3 mb-3 text-right">
      {% if user.is_authenticated %}
        <li><a href="{% url 'distributors:add_distributors'  %}"> Añadir Concesionario</a></li>
      {% endif %}
  </div>

</span>

{% endblock %}