{% extends "distributors/base.html" %}
{% load l10n %}

{% block content %}
<h2>
    Home Page
</h2>
    <style>
            .centred {
                margin: auto;
                text-align: center;
            }
    </style>
<ul>
  <li><a href="/distributors/carshop/">
      Concesionarios</a></li>
  <li><a href="/distributors/car/">
      Lista de Coches</a></li>

    {% if user.type == 2 or user.is_superuser %}

  <li><a href="/distributors/seller/">
      Lista de Vendedores</a></li>
  <li><a href="/distributors/customer/">
      Lista de Clientes</a></li>

    <li><a href="/distributors/sells/">
        Lista de Ventas</a></li>

    {% endif %}


    <!--<li><a href="/distributors/add_distrib/">
        Añadir Concesionario</a></li>-->
</ul>

    <div class="centred">
        <img src="http://www.f1latam.com/autos/img/prin/chry_vit_02.jpg" alt="audi"  style="width:128px;height:128px;"></img>
        <img src="https://andro4all.com/files/2014/03/concesionario-renault.jpg" alt="audi" style="width:128px;height:128px;"></img>
        <img src="https://www.cortizo.com/ficheros/thumbnails/ficheros/obras/1342094199.0x0.fe.279.20102601.jpg" alt="audi"  style="width:128px;height:128px;"></img>
        <img src="https://motorgiga.com/cargadatos/fotos2/Audi-Wagen-Motors-Albacete_8.jpg" alt="audi"  style="width:128px;height:128px;"></img>
    </div>

{% endblock %}