{% extends "distributors/base.html" %}
{% load l10n %}

{% block content %}
<h2>
    Home Page
</h2>
<ul>
  <li><a href="/distributors/carshop/">
      CarShop List</a></li>
  <li><a href="/distributors/car/">
      Car list</a></li>
  <li><a href="/distributors/seller/">
      Seller list</a></li>
  <li><a href="/distributors/customer/">
      Customer list</a></li>

    <li><a href="/distributors/add_sell/">
        Añadir Venta</a></li>

    <!--<li><a href="/distributors/add_distrib/">
        Añadir Concesionario</a></li>-->
</ul>
{% endblock %}