{% extends "distributors/base.html" %}
{% block content %}
<h1>
    Home Page
</h1>
<ul>
  <li><a href="/distributors/carshop/">
      CarShop Details</a></li>
  <li><a href="/distributors/model/">
      Model list</a></li>
  <li><a href="/distributors/seller/">
      Seller list</a></li>
  <li><a href="/distributors/customer/">
      Customer list</a></li>

    <li><a href="/distributors/add_sell/">
        Añadir Venta</a></li>

    <li><a href="/distributors/add_distrib/">
        Añadir Concesionario</a></li>
</ul>
{% endblock %}