{% extends "distributors/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}

{#    {% if request.user.type == 2 or request.user.is_superuser %}#}
    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="col-sm-9">
                <span property="name">{{ request.user }}</span> <br />
                <span property="name">{{ car.name }}</span> <br />
                <span property="name">{{ car.price }}</span> <br />
        </div>
            {{ form|crispy }}
        <div class="form-group">
            <button type="submit" class="btn btn-success">Aceptar</button>
            <a class="btn btn-danger" href="{{ request.META.HTTP_REFERER }}">Cancelar</a>
        </div>
    </form>

    <script src="{% static "js/autocomplete.js" %}"></script>

{% endblock %}