{% extends "distributors/base.html" %}
{% block content %}

<span vocab="http://schema.org/" typeof="Sell Detail">


    <h2>
        <span property="seller">{{ sell.seller.name }}</span>
    </h2>

        <h2>
        <span property="car">{{ sell.car.name }}</span>
    </h2>
        <h2>
        <span property="date">{{ sell.date }}</span>
    </h2>


        <img src="https://static1.squarespace.com/static/592b32138419c2e1dd139f58/t/5a678dfe8165f595646ce68b/1516735329525/handshake.png" alt="seller">

</span>

    </p>

{% endblock %}